@import "../../style/mixins";
@import "../../style/variables";

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  background-color: $green;
  width: 200px;
  height: 50px;
  @include box-sizing(border-box);
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  text-transform: uppercase;

  @include border-radius(2px);
  @include transition-property(all);
  @include transition-duration(300ms);

  &:hover {
    @include box-shadow( 0 0 10px rgba( 0, 0, 0, 0.4 ) );
  }
}

.primary {
  background-color: $green;
  color: #fff;

  &:hover {
    background-color: $green_hover;
  }
}

.secondary {
  background-color: $blue;
  color: #fff;

  &:hover {
    background-color: $blue_hover;
  }
}
