@import "../../style/mixins";
@import "../../style/variables";

:export {
  orange: $orange;
  menuItemColor: #fff;
}

.containerOpen {
  .menuButton {
    transform: translateX(-256px);
  }
}

.menuButton {
  position: fixed !important;
  top: 17px;
  right: 10px;
  z-index: 402;
  height: 48px;
  width: 48px;
}

.menuButtonIcon {
  font-size: 44px;
  color: $orange;
}

.menuItem {
  color: #fff !important;
  vertical-align: middle;
  font-size: 1.2em !important;
  font-weight: 500 !important;
  list-style: none;

}

.menuItemIcon {
  margin-right: 10px;
}

.Drawer {
  background-color: $dark_gray;
  z-index: 402;
}
