@import "../../style/mixins";
@import "../../style/variables";

:export {
  orange: $orange;
  menuItemColor: #fff;
}

.menuButton {
  position: fixed !important;
  top: 17px;
  right: 10px;
}

.menuButtonIcon {
  width: 44px !important;
  height: 44px !important;
}

.menuContainer {
  background-color: $dark_gray !important;
}

.menuItem {
  color: #fff !important;
  vertical-align: middle;
  font-size: 1.2em !important;
  line-height: 36px !important;
  font-weight: 500 !important;
}

.menuItemIcon {
  margin-right: 10px;
}
