@import "@material/button/mdc-button";
@import "@material/animation/variables";

@import "../../style/mixins";
@import "../../style/variables";

:export {
  orange: $orange;
  menuItemColor: #fff;
}

:global(.mdc-drawer-app-content),
.menuButton {
  transition-property: transform;
  transition-timing-function: $mdc-animation-standard-curve-timing-function;
}

.containerOpen {
  background-color: red;

  :global(+.mdc-drawer-app-content) {
    transform: translateX(-256px);
  }

  .menuButton {
    transform: translateX(-256px);
  }
}

.menuButton {
  position: fixed !important;
  top: 17px;
  right: 10px;
  z-index: 402;
  height: 48px;
  width: 48px;

  &:focus {
    @extend .mdc-button--raised;
  }
}

.menuButtonIcon {
  font-size: 44px;
  color: $orange;
}

:global .mdc-drawer--dismissible {
  z-index: 404;
}

:global .mdc-drawer {
  background-color: $dark_gray !important;
}

.menuItem {
  color: #fff !important;
  vertical-align: middle;
  font-size: 1.2em !important;
  font-weight: 500 !important;
  list-style: none;

}

.menuItemIcon {
  margin-right: 10px;
}
