@import "../../style/mixins";
@import "../../style/variables";

.container {
  background-color: rgba(44, 49, 66, 1);
  color: #fff;
  padding: 0 30px;

  display: flex;
  justify-content: center;
  min-height: 100%;
  font-size: 1.1em;

  .window {
    width: 600px;
    max-width: 100%;

    a {
      text-decoration: underline;
    }

    p {
      margin: auto;
      margin-bottom: 30px;
    }
  }
}

.center {
  text-align: center;
  align-items: center;
}
