.algolia {
  max-width: 100%;

  :global {
    .algolia-places {
      text-align: left;

      input {
        box-sizing: border-box;
        background-color: #fff;
      }

      .ap-dropdown-menu {
        color: #000;

        .ap-name {
          color: #000;
        }
      }
    }
  }
}
