@import "mixins";
@import "variables";
@import "fonts";

$fa-font-path: "/node_modules/font-awesome/fonts";

html,
body,
#app,
.mdc-drawer-app-content {
  height: 100%;
}

.no-javascript {
  color: #fff;
  text-align: center;
}

body {
  font-family: ForsvarsmaktenSans,Akkurat,Arial,sans-serif;
  font-size: 1.05em;
  font-weight: 300;
  background: $dark_gray;
  margin: 0;

  --mdc-theme-primary: $mdc-theme-primary;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 500;
  font-family: ForsvarsmaktenSans-Stencil,TradeGothic,Arial,sans-serif;
}

h1 {
  font-size: 2.1em;
  line-height: 1.2;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4em;
  line-height: 1.2;
  margin-bottom: 10px;
}

p {
  line-height: 1.4;
  margin-bottom: 10px;

  a {
    color: $orange;
  }
}

:focus {
  outline-color: $orange;
}

