@import  '../../style/variables';

.tooltip {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-57%);
  background-color: $orange;
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  animation: fade 0.5s;

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .header {
    font-size: 80%;
    display: inline-block;
    transform: rotate(-10deg) translateY(-4px);
  }

  .arrow {
    $size: 24px;

    position: absolute;
    top: 50%;
    left: calc(100% - 9px);
    transform: rotate(-45deg) translateY(-50%) skew(5deg);
    z-index: -1;
    height: $size;
    width: $size;
    background-color: $orange;
  }
}


